.content-title {
    padding: 4 8;
    font-size: 18;
    color: black;
    opacity: 0.87;
    font-weight: 600;
}

.list-item-container {
    border-radius: 4;
}

#feed-container {
    background-color: white;
    margin: 0 8;
}

.posted-text {
    padding: 8 8 4 8;
    font-size: 16;
}

.time-icon, .date-icon {
    font-size: 16;
    text-align: center;
    margin: 4 0 4 0;
}

.image {
    margin: 4 0 0 0;
}



