
$bold-text-color: #48505b;
$red-accent: #c60c30;
$sub-heading-color: #a3b1ca;
$time-text-color: #ccd6e3;

.card-container {
    border-radius: 4;
    height: auto;
    background-color: white;
    margin: 4 8;
}

.card-icon-img {
    margin: 16;
    border-radius: 100%;
    stretch: aspectFill;
    height: 45;
    width: 45;
}




.heading-info {
    vertical-align: bottom;
    font-weight: bold;
}

.heading-name {
    color: $bold-text-color;
}

.type {
    color: $red-accent;
}

.posted-time {
    color: $sub-heading-color;
}

.card-description-text, .card-description-text-no-img {
    font-size: 14;
    color: #5b626d;
    line-height: 6;
    margin: 16;
    text-wrap: true;
}

.card-description-text {
    margin: 4 16 16 16;
}

// .card-description-text-no-img {
//     margin: 5 16 16 16;
// }


.card-divider {
    background-color: #ececec;
}

.card-time-text {
    color: $time-text-color;
}

.card-title-text {
    color: #48505b;
    font-weight: bold;
    margin: 16 16 4 16; 
}


