
$bold-text-color: #48505b;
$red-accent: #c60c30;
$sub-heading-color: #a3b1ca;
$time-text-color: #ccd6e3;

.staff-name {
    vertical-align: bottom;
    font-weight: bold;
    font-size: 16;

    color: $bold-text-color;
}

.messages-text {
    color: gray;
    margin-right: 16;

    font-size: 14;
}

.card-divider {
    background-color: #ececec;
}

.date-text {
    color: $sub-heading-color;
    horizontal-align: right;
    vertical-align: top;
    margin: 16;
    font-size: 14;
}

.no-msg-container {
    vertical-align: middle;
    horizontal-align: center;
}

.no-msg-icon {
    text-align: center;
    font-size: 24;
    margin-bottom: 8;
}