.message-text {
    font-size: 15;
}

#message-input {
    background-color: #fff;
    border-radius: 50%;
    height: 40;
    margin: 0 16;
    font-size: 16;

}

#send-button {
    border-radius: 100%;
    background-color: #c60c30;
    height: 44;
    width: 44;
    margin: 2 4;
    color:  #fff;
    font-size: 20;
    margin-right: 16;
}

#message-input, #send-button {
    margin-bottom: 4;
}

.message-recieved {
    // width: 50%;
}

.msg-container {
    margin: 8 16 8 16;
    background: white;
    padding: 8;
}


