.message-text {
    font-size: 15;
}

#message-input {
    background-color: #fff;
    border-radius: 50%;
    height: 40;
    margin: 0 16;
    font-size: 16;

}

#send-button {
    border-radius: 100%;
    background-color: #c60c30;
    height: 44;
    width: 44;
    margin: 2 4;
    color: #fff;
    font-size: 20;
    margin-right: 16;
}

#message-input,
#send-button {
    margin-bottom: 4;
}

.recieved,
.send {
    border-radius: 8;
    margin-bottom: 8;
}
.send {
    background: white;
    margin-left: 60;
     margin-right: 8;
}
.recieved {
    background: #c0d0dd;
     margin-right: 60;
    margin-left: 8;
}

.msg-container {

    padding: 4;
}
