
$bold-text-color: #48505b;
$red-accent: #c60c30;
$sub-heading-color: #a3b1ca;
$time-text-color: #ccd6e3;

.card-container {
    border-radius: 4;
    height: auto;
    background-color: white;
    margin: 4 8;
}

.card-icon-img {
    margin: 16;
    border-radius: 100%;
    stretch: aspectFill;
    height: 65;
    width: 65;
}


.staff-name {
    vertical-align: bottom;
    font-weight: bold;
    font-size: 16;
    color: $bold-text-color;
}

.staff-position {
    color: $sub-heading-color
}
.staff-position-pres {
    color: $red-accent;
    // font-weight: bold;
}

#message-icon, #calendar-icon, #email-icon {
    font-size: 20;
    text-align: center;
    color: #a3b1ca;
}

#message-icon {
    margin-left: 16;
}

#email-icon {
    margin-right: 16;
}



.card-divider {
    background-color: #ececec;
}

.chevron-down {
    text-align: right;
    margin: 12;
}

.more-info {
    color: $bold-text-color;
   
}

