.login-heading {
    font-size: 24;
    color: #060606;
    margin: 0 16 4 16;
    font-weight: bold;
}

.register-text {
    margin: 4 16 16 16;
    font-weight: bold;
    color: #060606;
    font-family: "Raleway-Black"
}

.email-tf {
    // vertical-align: bottom;
    margin: 0 16;
    // color: orangered ;
    // background-color: ;
    border-bottom-width: 1;
    border-color: #DCDCDC; 
}

.email-txt {
    margin: 4 16;
    
}

.login-text {
    margin: 0 32;
    font-weight: bold;
    font-size: 24;
    color: black;
}

.tf {
    margin: 16 32; 
}

.tf-2 {
    margin: 0 32; 
}

#login-btn {
   vertical-align: middle;
   margin: 0 32 0 32;
   background: #ED213A;  /* fallback for old browsers */
background: linear-gradient(to right, #981e32, #c60c30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   border-radius: 100%;
   color: white;
   font-weight: bold;
   height: 56;
}

// .page {
//     background: url("~/imgs/drawing.png");
//     background-repeat: no-repeat;
// }

.raleway-med {
    font-family: "Raleway-Medium" !important;
}
.raleway-bold {
    font-family: "Raleway-Black" !important;
}

.trio-logo {
    margin: 48;
    vertical-align: bottom;
}

.wsu-logo {
    vertical-align: top;
    height: 140;
    width: 140;
    margin-top: 8;
}

#change-btn {
    vertical-align: bottom;
    margin: 8 64 8 64;
    background: #ED213A;  /* fallback for old browsers */
    background: linear-gradient(to right, #4f868e, #00a5bd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 100%;
    color: white;
    font-weight: bold;
    height: 40;
}