.heading {
    font-size: 24;
    margin-bottom: 24;
    color: #1a202c;
}

.input-heading {
    font-size: 14;
    margin-top: 16;
    color:  #2d3748;
}

.register-input {
    font-size: 16;
    border-color: #2d3748;
    border-bottom-width: 1;
    padding: 4 0;
    color: #1a202c;
}
.main-container {
    background: #fff;
    margin: 24;
}

.register-button {
    background: linear-gradient(to right, #c60c30, #f72f36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 40 16;
    padding: 16 0;
    border-radius: 100%;
    color: white;
    font-size: 16;
}

.error-text {
    font-size: 12;
    color: #b00020;
}

.error-text.collapsed {
    visibility: collapse;
}
.error-text.visible {
    visibility: visible;
    animation-name: appear;
    animation-duration: 1s;

}

@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }


}